{% load static %}
<header>
    <nav class="header">
        <div class="logo">
            <a href="{% url 'homepage' %}">
                <img src="{% static 'img/Brasileirao.png' %}" alt="">
            </a>
            <span>Bolão Virtual</span>
        </div>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            {% if request.resolver_match.url_name in "/homepage" %}
            <li><a href="{% url 'homepage' %}" class="active"><i class="fas fa-list"></i>Ranking</a></li>
            {% else %}
            <li><a href="{% url 'homepage' %}"><i class="fas fa-list"></i>Ranking</a></li>
            {% endif %}


            {% if request.resolver_match.url_name in "/palpites" %}
            <!-- <li><a href="{% url 'palpites' %}" class="active"><i class="fas fa-check"></i>Palpites</a></li> -->
            <li class="dropdown">
                <a href="#" class="active">Palpites <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a href="{% url 'palpites' %}">Criar Palpites</a>
                    <a href="{% url 'meus_palpites' %}">Meus Palpites</a>
                </div>
            </li>
            {% else %}
            <li class="dropdown">
                <a href="#">Palpites <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a href="{% url 'palpites' %}">Criar Palpites</a>
                    <a href="{% url 'meus_palpites' %}">Meus Palpites</a>
                </div>
            </li>
            {% endif %}

            {% if request.resolver_match.url_name in "/regras" %}
            <li><a href="{% url 'regras' %}" class="active"><i class="fas fa-book-open"></i>Regras</a></li>
            {% else %}
            <li><a href="{% url 'regras' %}"><i class="fas fa-book-open"></i>Regras</a></li>
            {% endif %}


            {% if user.is_authenticated %}

            {% if request.resolver_match.url_name in "/perfil" %}
            <li><a href="{% url 'perfil' %}" class="active"><i class="fa-solid fa-user"></i>Perfil</a></li>
            {% else %}
            <li><a href="{% url 'perfil' %}"><i class="fa-solid fa-user"></i>Perfil</a></li>
            {% endif %}



            <!-- Link somente para o superUser-->
            {% if user.is_superuser %}
                {% if request.resolver_match.url_name in "/configuracoes" %}
                <li><a href="{% url 'configuracoes' %}" class="active"><i class="fa-solid fa-gear"></i>Configurações</a></li>
                {% else %}
                <li><a href="{% url 'configuracoes' %}"><i class="fa-solid fa-gear"></i>Configurações</a></li>
                {% endif %}
            {% endif %}


            {% if request.user.is_authenticated %}

             {% if request.resolver_match.url_name in "/pagamento_bolao" %}
                    <li><a href="{% url 'pagamento_bolao' %}" class="active"><i class="fa-solid fa-credit-card"></i>Pagamento</a></li>
                {% else %}
                    <li><a href="{% url 'pagamento_bolao' %}"><i class="fa-solid fa-credit-card"></i>Pagamento</a></li>
                {% endif %}
            {% endif %}

            <li class="login"><a href="{% url 'logout' %}"><i class="fa-solid fa-person-running"></i>Sair</a>
            </li>
            {% else %}
            <li class="login"><a href="{% url 'login_bolao' %}"><i class="fa-solid fa-right-to-bracket"></i>Entrar</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
<!-- ====== Fim do Header ======= -->
