{% extends 'auxiliar/base.html' %} {% load static %} {% block title %} Bolão | Ranking {% endblock%} {% block body %}{% load custom_filters %}


<section class="informacao">
    <div class="container__info">
        <h2 class="title">Bolão do Campeonato Brasileiro</h2>
        <p>O apostador terá que preencher os 10 jogos de cada rodada
            com os seus palpites.<b class="text-primary">
                Se o apostador acertar o time vencedor da partida ou empate, ganha
                2 pontos. Se o apostador acertar o placar exato, ganha 3
                pontos, totalizando 5 pontos.</b>
            Aumente suas chances de vencer. Não perca tempo, cadastre-se e
            participe agora!</p>
        <div class="premiacoes">
            <h4>PREMIAÇÕES</h4>
            <p>
                Ao fim das rodadas do campeonato, os primeiros colocados serão os campeões!
                As premiações será de acordo com a quantidades de apostadores, quanto mais apostadores, mais
                premiações serão pagas!

                - As premiações serão pagas ao final do turno via PIX.
            </p>
        </div>

        {% if user.is_authenticated %}

        <div class="inscricao">
            <a href="{% url 'palpites' %}">Criar palpites</a>
        </div>

        {% else %}
        <div class="inscricao">
            <a href="{% url 'cadastro' %}">Clique aqui para participar</a>
        </div>
        {% endif %}
    </div>
</section>

<div>
    {% if user.is_authenticated %}
        {% if not participante.usuario.pagamento == True or  participante.posicao_atual == None %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    showDetails(`Bem vindo, <b>{{participante.usuario.nome}}</b>.`);
                });
            </script>
        {% else %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    showDetails(`Bem vindo, <b>{{participante.usuario.nome}}</b>. Posição atual: <b>{{ participante.posicao_atual }}º lugar</b>`);
                });
            </script>
        {% endif %}
    {% endif %}
</div>


<section class="container">
    <h2>Classificação</h2>
    <div class="tabela">
        <table>
            <thead>
                <tr>
                    <th><i class="fa-solid fa-ranking-star"></i></th>
                    <th></th>
                    <th><div class="variacoes">
                        <i class="fa-solid fa-up-long" style="color: #12c161;"></i>
                        <i class="fa-solid fa-down-long" style="color: rgb(228, 43, 43);"></i>
                    </div></th>
                    <th>PONTOS</th>
                    <th>PLACAR EXATO</th>
                    <th>VITÓRIA</th>
                </tr>
            </thead>
            <tbody>

                    {% for usuario in usuarios %}
                    <tr
                        hx-get="{% url 'detalhes_usuario' usuario.id %}"
                        hx-target="#modal-content"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#usuarioModal">
                        <td>
                             {{ forloop.counter }}
                        </td>
                        <td class="usuario" style="cursor: pointer;">
                            <img src="{{ usuario.usuario.avatar.url }}" alt="{{ usuario.usuario.nome }}" class="escudo">
                            {{ usuario.usuario.nome}}
                        </td>
                        <td>
                                {% if usuario.posicao_variacao > 0 %}
                                <i class="fa-solid fa-up-long" style="color: #12c161;"></i> {{ usuario.posicao_variacao }}
                                {% elif usuario.posicao_variacao < 0 %} <i class="fa-solid fa-down-long" style="color: rgb(228, 43, 43);"></i> {{ usuario.posicao_variacao|absolute }}
                                 {% else %}<i class="fa-solid fa-minus"></i> {% endif %} </td>
                        <td>{{ usuario.pontos }}</td>
                        <td>{{ usuario.placar_exato }}</td>
                        <td>{{ usuario.vitorias }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</section>
    <dialog id="usuarioModal">
        <div id="modal-content">
            <!-- Os detalhes do usuário serão carregados aqui -->
            {% include 'htmx/detalhes_usuario.html' %}
        </div>
        <button onclick="document.getElementById('usuarioModal').close()">X</button>
    </dialog>

    <script>
        const showDetails = (mensagem) => {
                Swal.fire({
                    title: mensagem,
                    showClass: {
                        popup: `
                            animate__animated
                            animate__fadeInUp
                            animate__faster
                            `
                    },
                    hideClass: {
                        popup: `
                            animate__animated
                            animate__fadeOutDown
                            animate__faster
                            `
                    }
                });
            }

        document.querySelectorAll('tr').forEach(row => {
            row.addEventListener('click', () => {
                document.getElementById('usuarioModal').showModal();
            });
        });
    </script>
{% endblock %}
