{% extends 'auxiliar/base.html' %} {% load static %} {% block title %} Bolão | Pagamento {% endblock%} {% block body %}

<section class="regras" style="z-index: -1; background-color: #fff; width: 70%; padding: 3%;">

    {% if bloquear.bloquear_pagamento  %}
        <div class="text-center" style="margin-bottom: 150px;">
            <h4 class="title mt-1">Para participar, espere o final do bolão.</h4>
        </div>
    {% else %}
        <h4 class="title mt-1">Finalize o pagamento da inscrição para poder participar do bolão</h4>
        <form action="{% url 'pagamento_bolao' %}" method="POST">{% csrf_token %}
            {% if usuario.pagamento %}
            <div class="container_checkout">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Pagamento feito!</h4>
                    <p>Agora o usuário, <b>{{ usuario.nome }},</b> pode verificar seu progresso no ranking e participar do
                        bolão.</p>
                    <hr>
                    <p class="mb-0">Para continuar participando, espere o final do bolão para efetuar o pagamento da
                        inscrição.</p>
                </div>
            </div>

            {% else %}
            <div class="container_checkout">
                <div class="card_checkout cart_checkout">
                    <label class="title_checkout">Pagamento</label>
                    <div class="steps_checkout">
                        <div class="step_checkout">
                            <div>
                                <span>Detalhes</span>
                                <p><b>Usuario:</b> {{usuario.usuario}}</p>
                                <p><b>Email:</b> {{usuario.email}}</p>
                                {% if usuario.tipo_aposta == "por_rodada" %}
                                <p><b>Formato bolão:</b> Por rodada</p>
                                <input type="hidden" name="tipo_aposta" value="por_rodada">
                                <p><b>Valor:</b> R$ 10,00</p>
                                <input type="hidden" name="valor" value="10.00">
                                {% elif usuario.tipo_aposta == "normal" %}
                                <p><b>Formato bolão:</b> normal</p>
                                <input type="hidden" name="tipo_aposta" value="normal">
                                <p><b>Valor:</b> R$ 30,00</p>
                                <input type="hidden" name="valor" value="30.00">
                                {% endif %}
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="card_checkout checkout_checkout">
                    <div class="footer_checkout">
                        {% if usuario.tipo_aposta == "por_rodada" %}
                        <label class="price_checkout">R$ 10,00</label>
                        <button type="submit" class="checkout-btn_checkout">Finalizar</button>
                        {% elif usuario.tipo_aposta == "normal" %}
                        <label class="price_checkout">R$ 30,00</label>
                        <button type="submit" class="checkout-btn_checkout">Finalizar</button>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    {% endif %}
</section>


{% endblock %}
